html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
svg:not(:root) {
    overflow: hidden;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}
fieldset, img {
    border: 0;
}
ol, ul, li {
    list-style: none outside none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
caption, th {
    text-align: left;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
img {
    width: auto \9;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.5;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
*{
  
  box-sizing:border-box;
}
input {
    box-sizing:border-box;
    line-height: normal;
    /*-webkit-appearance:none;*/
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    margin: 6px 0 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input::-moz-placeholder, input:-ms-input-placeholder, input::-webkit-input-placeholder {
    color: #ccc;
}
textarea::-moz-placeholder, textarea:-ms-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
}
select[multiple], select[size] {
    height: auto;
}
.hide{
  display:none!important;
}
body{
    min-width: 1030px;
    background:#f4f8fb;
    font-size:14px;
    color:#666;
    font-family:Helvetica, Arial, Tahoma, "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "\5FAE\8F6F\96C5\9ED1", "Helvetica Neue", sans-serif
}
.clearfix:after,.row:after{
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}
.clearfix:before,.row:before{
    content: "";
    display: table;
}

.form-control,
input[type="text"],
input[type="password"]{
  font-size: 14px;
  width: 100%;
  height: 34px;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  font-weight: normal;
  background: #ffffff;
  color: #404b5f;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  outline:none;
}
.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #51a3ff;
  color: #51a3ff;
  box-shadow: none;
  outline: 0 none;
}
.control-group{min-height:54px;}
.control-group .control-label{
  width:100px;
  text-align:right;
  float:left;
  line-height:34px;
}
.control-group .controls{
  margin-left:110px;
  overflow:hidden;
}
.btn{
  font-size: 14px;
  min-width:100px;
  padding: 0 10px;
  line-height: 34px;
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  height:34px;
  border-radius: 4px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-align: center;
  border: solid 1px transparent;
}
.btn.btn-default {
  color: #313949;
  background: #ffffff;
  border: 1px solid #c2d3eb;
}
.btn.btn-default:hover {
  color: #4e80f5;
  background: #f6f9ff;
  border: 1px solid #51a3ff;
}
.btn.btn-default:active {
  color: #4e80f5;
  background: #c2d3eb;
  border: 1px solid #51a3ff;
}
.btn.btn-default[disabled] {
  cursor: not-allowed;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  color: #666666;
}
.btn.btn-primary {
  color: #ffffff;
  background: #1abc9c;
  border: 1px solid #16a085;
}
.btn.btn-primary.new-project {
  background: #ffffff;
  border: 1px solid #16a085;
  color: #16a085;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background: #16a085;
  border: 1px solid #16a085;
}
.btn.btn-primary:active {
  color: #ffffff;
  background: #16a085;
  border: 1px solid #16a085;
}
.btn.btn-primary[disabled] {
  cursor: not-allowed;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  color: #666666;
}
.btn.btn-info {
  color: #ffffff;
  background: #51a3ff;
  border: 1px solid #4e80f5;
}
.btn.btn-info:hover {
  color: #ffffff;
  background: #4e80f5;
  border: 1px solid #4e80f5;
}
.btn.btn-info:active {
  color: #ffffff;
  background: #4e80f5;
  border: 1px solid #4e80f5;
}
.btn.btn-info[disabled] {
  cursor: not-allowed;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  color: #666666;
}
.btn.btn-danger {
  color: #ffffff;
  background: #e74c3c;
  border: 1px solid #c0392b;
}
.btn.btn-danger:hover {
  color: #ffffff;
  background: #c0392b;
  border: 1px solid #c0392b;
}
.btn.btn-danger:active {
  color: #ffffff;
  background: #c0392b;
  border: 1px solid #c0392b;
}
.btn.btn-danger[disabled] {
  cursor: not-allowed;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  color: #666666;
}
.btn.btn-warning {
  color: #ffffff;
  background: #f39c12;
  border: 1px solid #e67e22;
}
.btn.btn-warning:hover {
  color: #ffffff;
  background: #e67e22;
  border: 1px solid #e67e22;
}
.btn.btn-warning:active {
  color: #ffffff;
  background: #e67e22;
  border: 1px solid #e67e22;
}
.btn.btn-warning[disabled] {
  cursor: not-allowed;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  color: #666666;
}
.btn.btn-refresh {
  min-width: .34rem;
  color: #313949;
  background: #ffffff;
  border: 1px solid #c2d3eb;
}
.btn.btn-refresh:hover {
  color: #ffffff;
  background: #51a3ff;
  border: 1px solid #4e80f5;
}
.btn.btn-refresh:active {
  color: #4e80f5;
  background: #c2d3eb;
  border: 1px solid #51a3ff;
}
